body {
    text-align: center;
    font-family: sans-serif;
}

button {
    background-color: #32cd32;
    color: white;
    padding: 0.7em 2em;
    margin: 0.5em 0.1em;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: 0.2s;
}

button:hover {
    background-color: #109010;
}

#sudoku {
    display: grid;
    margin-left: auto;
    margin-right: auto;

    width: 35em;
    height: 35em;

    grid-template: repeat(9, 1fr) / repeat(9, 1fr);

    user-select: none;
    cursor: pointer;
}

#sudoku > div {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 200%;

    border: 1px solid lightgrey;
    background-color: white;
}

#sudoku > div.selected {
    background-color: #c7f5fc;
}

#game-region {
    margin: auto;
}

#result {
    visibility: hidden;
}

.info {
    font-size: 130%;
}
